@page
@model FytSoa.Web.Pages.FytAdmin.Sys.AdminModifyModel
@{
    ViewData["Title"] = "编辑/添加用户";
}
<style>
    .organize-tree { position: absolute; background-color: #fff; padding: 5px 25px; z-index: 1000; box-shadow: 0 0 24px rgba(0, 0, 0, .18); opacity: 0; height: 0; display: none; }

        .organize-tree.active { display: block; opacity: 1; height: auto; max-height: 500px; overflow: auto; transition: all .5s; }

    .cur-image { width: 24%; position: absolute; left: 25px; top: 0px; margin-bottom: 0px; }

        .cur-image .add-photo.default { height: 170px; }

        .cur-image .select-newimg { padding-top: 55px; }

        .cur-image .add-photo img { height: 170px; }

    .widget-footer { border: 1px solid #f6f9fd !important; background-color: #f6f9fd; text-align: center; color: rgb(163, 175, 183); }

        .widget-footer span { display: block; line-height: 25px; color: #333; }

    .input-tags { border-radius: 3px !important; height: 24px; border: 1px solid #e6e6e6; cursor: pointer; padding: 7px 10px; }

    .tags { padding: 3px 10px; background-color: #f0f2f5; color: #909399; margin-right: 10px; }

    .fr { float: right; }

    .layui-form-item { margin-bottom: 8px; }
</style>
<div id="app">
    <form class="layui-form form-cus" action="" lay-filter="forms">
        <div class="layui-form-item">
            <label class="layui-form-label">接收代理商</label>
            <div class="layui-input-block">
                <div class="input-tags sub-agent">
                    <span class="layui-badge layui-bg-gray tags"
                          v-for="it in m.agentList">{{it.name}}</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">接收商户</label>
            <div class="layui-input-block">
                <div class="input-tags sub-merchant">
                    <span class="layui-badge layui-bg-gray tags"
                          v-for="it in m.merchantList">{{it.name}}</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公告标题</label>
            <div class="layui-input-block">
                <input type="text" v-model="m.title" name="title" maxlength="20" lay-verify="required"
                       lay-verType="tips" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin:0px;">
            <div class="layui-inline">
                <label class="layui-form-label">生效时间</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="m.begin_time" id="begin_time" name="begin_time" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline fr">
                <label class="layui-form-label">过期时间</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="m.end_time" id="end_time" name="end_time" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <div id="slideSort" style="top:17px;"></div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文本域</label>
            <div class="layui-input-block">
                <textarea id="Content" v-model="m.content" name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-cur-submit">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submit" id="submit">
                    <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>立即提交
                </button>
                <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="/themes/tinymce/tinymce.min.js"></script>
    <script src="/themes/tinymce/langs/zh_CN.js"></script>
    <script>
        var oc, vm = new Vue({
            el: '#app',
            data: {
                m: {}
            }
        });
        tinymce.init({
            convert_urls: false,
            selector: '#Content',
            height: 120,
            plugins: 'print preview code searchreplace autolink directionality visualblocks visualchars fullscreen image link media codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help filemanager',
            toolbar: 'formatselect styleselect | bold italic forecolor backcolor | link filemanager | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat'
        });
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form', 'tree', 'slider', 'laydate'],
            function () {
                var form = layui.form, $ = layui.$, os = layui.common, tree = layui.tree;
                var index = parent.layer.getFrameIndex(window.name), slider = layui.slider, laydate = layui.laydate;
                var sliderIndex = slider.render({
                    elem: '#slideSort'
                    , input: true
                    , change: (value) => vm.m.sort = value
                    , theme: '#409eff'
                });
                laydate.render({
                    elem: '#begin_time'
                    , theme: '#393D49'
                    , type: 'datetime'
                    , change: (value) => vm.m.begin_time = value
                    , done: (value) => vm.m.begin_time = value
                });
                laydate.render({
                    elem: '#end_time'
                    , theme: '#393D49'
                    , type: 'datetime'
                    , change: (value) => vm.m.end_time = value
                    , done: (value) => vm.m.end_time = value
                });
                oc = {
                    init() {
                        //查询角色信息
                        os.ajax('api/notice/bymodel/', { parm: os.getUrlParam('guid') },
                            function (res) {
                                if (res.statusCode == 200) {
                                    vm.m = res.data;
                                    var begin_time_arr = vm.m.begin_time.split('T');
                                    vm.m.begin_time = begin_time_arr[0] + " " + begin_time_arr[1];
                                    var end_time_arr = vm.m.end_time.split('T');
                                    vm.m.end_time = end_time_arr[0] + " " + end_time_arr[1];
                                    sliderIndex.setValue(vm.m.sort);
                                    tinyMCE.editors[0].setContent(vm.m.content);
                                } else {
                                    os.error(res.message);
                                }
                            });
                        $('.sub-agent').click(function () {
                            var frameId = window.frameElement && window.frameElement.id || '';
                            os.Open('代理商', '/fytadmin/sys/noticemodifytoagent?frameid=' + frameId + '&agent=' + escape(JSON.stringify(vm.m.agentList)), '600px', '500px');
                        });
                        $('.sub-merchant').click(function () {
                            var frameId = window.frameElement && window.frameElement.id || '';
                            os.Open('商户', '/fytadmin/sys/noticemodifytomerchant?frameid=' + frameId + '&merchant=' + escape(JSON.stringify(vm.m.merchantList)), '600px', '500px');
                        });
                    },
                    saveAgent(list) {
                        vm.m.agent_ids = list;
                        vm.m.agentList = JSON.parse(list);
                    },
                    saveMerchant(list) {
                        vm.m.merchant_ids = list;
                        vm.m.merchantList = JSON.parse(list);
                    }
                };
                oc.init();
                //监听提交
                form.on('submit(submit)',
                    function (data) {
                        $('#submit').attr('disabled', true).find('i').removeClass('layui-hide');
                        var urls = "api/notice/add";
                        if (vm.m.id) {
                            urls = "api/notice/edit";
                        }
                        vm.m.content = tinyMCE.editors[0].getContent();
                        os.ajax(urls,
                            vm.m,
                            function (res) {
                                $('#submit').attr('disabled', false).find('i').addClass('layui-hide');
                                if (res.statusCode == 200) {
                                    parent.layer.close(index);
                                } else {
                                    os.error(res.message);
                                }
                            });
                        return false;
                    });
                $(".btn-open-close").on('click',
                    function () {
                        parent.layer.close(index);
                    });
            });
    </script>
}