@page
@model AgentModel
@{
    ViewData["Title"] = "代理商等级";
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolDel"><i class="layui-icon"></i> 删除</button>
            <form autocomplete="off" id="searchform" style="float:right">
                <div class="layui-inline">
                    <input class="layui-input" name="key" placeholder="输入名称/电话">
                </div>
                <button type="submit" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
            </form>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="status" value="{{d.guid}}" lay-skin="switch" lay-text="开|关" lay-filter="statusedit" {{ d.iosAudit==1?'checked':''}}>
    </script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'common'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common;
                table.render({
                    elem: '#tablist',
                    headers: os.getToken(),
                    url: '/api/agent/getpages',
                    cols: [
                        [
                            { type: 'checkbox' },
                            { field: 'loginName', title: '登录账号', width: 105 },
                            { field: 'name', title: '姓名', width: 90 },
                            { field: 'level_Name', title: '等级', align: 'center', width: 90 },
                            { field: 'tel', title: '电话', align: 'center', width: 115 },
                            {
                                field: 'wxpay', title: '支付渠道成本', width: 260, templet: function (d) {
                                    return "微信:" + d.wxpay + ",支付宝:" + d.alipay + ",其他:" + d.otherpay + "";
                                }
                            },
                            { field: 'settle_Name', title: '结算方式', width: 110 },
                            { field: 'account_No', title: '结算账号', width: 120 },
                            { field: 'business_Area', title: '区域', width: 120 },
                            { field: 'create_Time', title: '加入时间', width: 100, templet: (d) => layui.util.toDateString(d.create_Time, 'yyyy-MM-dd') },
                            { title: '操作', templet: '#tool', align: 'center', width: 165 }
                        ]
                    ],
                    page: true,
                    id: 'tables'
                });

                var guid = '', active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: $('#searchform').serializeArray().js()
                            });
                        return false;
                    },
                    toolAdd: function () {
                        os.Open('添加代理商信息', '/fytadmin/cms/agentmodify', '680px', '470px', function () {
                            active.reload();
                        });
                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.error("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.id + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/agent/delete/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });
                    }
                };
                $('#searchform').on('submit', active.reload);
                $('button[data-type]').on('click', (e) => active[$(e.target).data('type')].call(this));
                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var id = obj.data.id;
                    switch (obj.event) {
                        case 'edit':
                            os.Open('修改代理商信息', '/fytadmin/cms/agentmodify/?id=' + id, '680px', '470px', active.reload);
                            break;
                        case 'detail':
                            os.Open('查看代理商信息', '/fytadmin/cms/agentdetail/?id=' + id, '680px', '470px');
                            break;
                    }
                });
            });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe702;</i> 详情</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>