@page
@using FytSoa.Extensions
@using FytSoa.Service.DtoModel.Wx
@inject FytSoa.Service.Interfaces.Cms.ICmsMerchantService ms
@inject FytSoa.Service.Interfaces.ISysAdminService adminservice
@inject FytSoa.Service.Interfaces.ICmsShopService shopService
@{
    ViewBag.Title = "佣金结算";
    var isSys = await HttpContext.IsSystem();
    var admin_guid = await HttpContext.LoginUserId();
    var admin = await adminservice.GetModelAsync(p => p.Guid == admin_guid);
    var ms_list = (await ms.GetListAsync(p => (isSys || p.admin_guid == admin_guid || p.admin_guid == admin.data.CreateBy) && p.status, p => p.id, Common.DbOrderEnum.Asc)).data;
    var start_date = DateTime.Now.AddMonths(-1).ToString("yyyy-MM");
    var end_date = DateTime.Now.ToString("yyyy-MM");
}
@section styles{
    <style>
        .layui-form-label { width: 100px; }
        .layui-form-item { margin-bottom: 8px; }
        .layui-input-block { margin-left: 0px; width: 200px; float: left; }
        .layui-layer-btn { padding: 0 35px 65px !important; }
    </style>
}
<div id="container">
    <div class="list-wall" style="padding-top:0px;">
        <table class="layui-hide" id="tabtotal"></table>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        <script type="text/html" id="tool">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe702;</i> 详情</a>
        </script>
    </div>
</div>
@section scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'jquery', 'common', 'laydate'],
            function () {
                var table = layui.table,
                    os = layui.common,
                    billId = os.getUrlParam('billId');
                table.render({
                    elem: '#tabtotal',
                    headers: os.getToken(),
                    url: '/api/balance/gettotals',
                    cols: [
                        [
                            { field: 'settle_Name', title: '支付方式', align: 'center', totalRowText: '汇总' },
                            { field: 'balance_amount', title: '参与返佣净额',  align: 'right', totalRow: true, templet: os.tc },
                            { field: 'rebate_amount', title: '应返金额', align: 'right', totalRow: true, templet: os.tc },
                            { field: 'modify_amount', title: '调整金额', align: 'right', totalRow: true, templet: os.tc },
                            { field: 'rebate_amount_rel', title: '实际返佣', align: 'right', totalRow: true, templet: os.tc },
                        ]
                    ],
                    totalRow: true,
                    where: { key: billId },
                    id: 'tables'
                });
            });
    </script>
}