@page
@{
    ViewBag.Title = "佣金结算";
    var start_date = DateTime.Now.AddMonths(-1).ToString("yyyy-MM");
    var end_date = DateTime.Now.ToString("yyyy-MM");
}
@section styles{
    <style>
        .layui-form-label { width: 100px; }
        .layui-form-item { margin-bottom: 8px; }
        .layui-input-block { margin-left: 0px; width: 200px; float: left; }
        .layui-layer-btn { padding: 0 35px 65px !important; }
    </style>
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <form autocomplete="off" id="searchform">
                <div style="margin:10px 0 0;">
                    <span class="layui-inline">返佣月份：</span>
                    <div class="layui-inline" style="margin-right:10px;">
                        <input type="text" id="start_date" name="start_date" value="@start_date" autocomplete="off" class="layui-input">
                    </div>
                    <span class="layui-inline"> - </span>
                    <div class="layui-inline" style="margin-right:10px;">
                        <input type="text" id="end_date" name="end_date" value="@end_date" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        <script type="text/html" id="tool">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe702;</i> 详情</a>
        </script>
    </div>
</div>
@section scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'jquery', 'common', 'laydate', 'laytpl', 'layer'],
            function () {
                var table = layui.table,
                    $ = layui.jquery,
                    dt = layui.laydate,
                    tpl = layui.laytpl,
                    l = layui.layer,
                    os = layui.common;
                table.render({
                    elem: '#tablist',
                    headers: os.getToken(),
                    url: '/api/balance/getpages',
                    cols: [
                        [
                            { field: 'bizDt', title: '月份', width: 100, align: 'center', totalRowText: '合计' },
                            { field: 'balance_amount', title: '参与返佣净额', width: 140, align: 'right', totalRow: true, templet: os.ntc },
                            { field: 'rebate_amount', title: '应返金额', width: 140, align: 'right', totalRow: true, templet: os.ntc },
                            { field: 'modify_amount', title: '调整金额', width: 140, align: 'right', totalRow: true, templet: os.ntc },
                            { field: 'rebate_amount_rel', title: '实际返佣', width: 140, align: 'right', totalRow: true, templet: os.ntc },
                            {
                                field: 'statu', title: '返佣状态', width: 100, align: 'center', templet: function (d) {
                                    if (parseInt(d.statu) === 1) {
                                        return "<span>待审核</span>";
                                    } else if (parseInt(d.statu) === 2) {
                                        return "<span>待确认</span>";
                                    } else if (parseInt(d.statu) === 3) {
                                        return "<span>待结算</span>";
                                    } else if (parseInt(d.statu) === 4) {
                                        return "<span>已结算</span>";
                                    }
                                }
                            },
                            { field: 'moditime', title: '返佣时间', width: 155, align: 'center', templet: (d) => layui.util.toDateString(d.moditime, 'yyyy-MM-dd HH:mm:ss') },
                            { title: '操作', align: 'center', templet: '#tool', width: 100 }
                        ]
                    ],
                    totalRow: true,
                    where: data(),
                    page: true,
                    id: 'tables'
                });
                dt.render({ elem: '#start_date', type: 'month' });
                dt.render({ elem: '#end_date', type: 'month', max: '@end_date' });
                var active = {
                    reload: function () { table.reload('tables'); },
                }
                $('#searchform').on('submit', () => {
                    table.reload('tables',
                        {
                            page: {
                                curr: 1
                            },
                            where: data()
                        });
                    return false;
                });
                table.on('tool(tool)', function (obj) {
                    var id = obj.data.billID;
                    var statu = obj.data.statu;
                    os.Open('佣金结算详情', '/fytadmin/cms/BalanceDetail/?billId=' + id + "&status=" + statu, '1100px', '600px', active.reload);
                });
                function data() {
                    if ($.trim($("#start_date").val()).length == 0) {
                        $("#start_date").val('@start_date');
                    }
                    if ($.trim($("#end_date").val()).length == 0) {
                        $("#end_date").val('@end_date');
                    }

                    return os.js($('#searchform'));
                }
            });
    </script>
}