@page
@using FytSoa.Extensions
@using FytSoa.Service.DtoModel.Wx
@inject FytSoa.Service.Interfaces.Cms.ICmsMerchantService ms
@inject FytSoa.Service.Interfaces.ISysAdminService adminservice
@inject FytSoa.Service.Interfaces.ICmsShopService shopService
@{
    ViewBag.Title = "退款记录查询";
    var isSys = await HttpContext.IsSystem();
    var admin_guid = await HttpContext.LoginUserId();
    var admin = await adminservice.GetModelAsync(p => p.Guid == admin_guid);
    var ms_list = (await ms.GetListAsync(p => (isSys || p.admin_guid == admin_guid || p.admin_guid == admin.data.CreateBy) && p.status, p => p.id, Common.DbOrderEnum.Asc)).data;
}
@section styles{
    <style>
        .layui-form-label {
            width: 100px;
        }

        .layui-form-item {
            margin-bottom: 8px;
        }

        .layui-input-block {
            margin-left: 0px;
            width: 200px;
            float: left;
        }

        .layui-layer-btn {
            padding: 0 35px 65px !important;
        }
    </style>
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <form autocomplete="off" id="searchform">
                <div>
                    <span class="layui-inline">　子商户：</span>
                    <div class="layui-inline">
                        <div id="out_sub_mch_id" style="width:250px" data-json='@Html.Raw(Json.Serialize(ms_list.Select(p=>new { name = p.name, value = p.out_sub_mch_id })))'></div>
                    </div>
                    <span class="layui-inline">门店：</span>
                    <div class="layui-inline">
                        <div type="text" id="out_shop_id" style="width:200px"></div>
                    </div>
                    <span class="layui-inline">工号：</span>
                    <div class="layui-inline">
                        <div type="text" id="staff_id" style="width:200px"></div>
                    </div>
                    <span class="layui-inline">交易日期：</span>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" id="trade_date" style="width:300px">
                        <input type="hidden" name="start_time" />
                        <input type="hidden" name="end_time" />
                    </div>
                </div>
                <div style="margin:10px 0 0">
                    <span class="layui-inline">支付渠道：</span>
                    <div class="layui-inline">
                        <div id="pay_platform" style="width:400px" data-json='@Html.Raw(Json.Serialize(typeof(SubPayPlatform).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                    <span class="layui-inline">支付类型：</span>
                    <div class="layui-inline">
                        <div id="trade_type" style="width:200px" data-json='@Html.Raw(Json.Serialize(typeof(TradeType).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                    <span class="layui-inline">支付状态：</span>
                    <div class="layui-inline">
                        <div id="status" style="width:200px" data-json='@Html.Raw(Json.Serialize(typeof(PayStatus).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i> 搜索</button>
                        <button type="button" id="export" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-export"></i> 导出</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        <script type="text/html" id="tool">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe702;</i> 详情</a>
        </script>
        <script type="text/html" id="details">
            <form class="layui-form form-details">
                <div class="layui-form-item">
                    <label class="layui-form-label">店铺名称</label>
                    <div class="layui-input-block">
                        <input value="{{ d.shop_name }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">店员名称</label>
                    <div class="layui-input-block">
                        <input value="{{ d.staff_name }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">设备编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.device_id }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">设备名称</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.device_name }}" disabled class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">退款单号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.out_refund_no }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">退款时间</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ layui.util.toDateString(d.last_update_time, 'yyyy-MM-dd HH:mm:ss') }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付渠道</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.sub_pay_platform }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">支付类型</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.trade_type }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">订单金额</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.total_fee.tc() }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">退款金额</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.refund_fee.tc() }}" disabled class="layui-input">
                    </div>
                </div>
            </form>
        </script>
    </div>
</div>
@section scripts{
    <script src="~/themes/js/xm-select.js" asp-append-version="true"></script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'jquery', 'common', 'laydate', 'laytpl', 'layer'],
            function () {
                var table = layui.table,
                    $ = layui.jquery,
                    dt = layui.laydate,
                    tpl = layui.laytpl,
                    l = layui.layer,
                    os = layui.common;
                var pp = xmSelect.render({
                    el: '#pay_platform',
                    size: 'small',
                    name: 'sub_pay_platforms',
                    data: $('#pay_platform').data('json'),
                });
                var mp_data = $('#out_sub_mch_id').data('json');
                if (mp_data.length) {
                    mp_data[0].selected = true;
                }
                var mp = xmSelect.render({
                    el: '#out_sub_mch_id',
                    name: 'out_sub_mch_id',
                    radio: true,
                    size: 'small',
                    layVerify: 'required',
                    data: mp_data,
                    on: (e) => {
                        if (e.arr.length) {
                            var out_sub_mch_id = e.arr[0].value;
                            os.ajax('api/shop/getshopbymch', { out_sub_mch_id: out_sub_mch_id }, (res) => {
                                sp.update({ data: res });
                                os.ajax('api/shop/getstaffbyshop', { out_sub_mch_id: out_sub_mch_id }, (res) => sf.update({ data: res }));
                            });
                        }
                        else {
                            sp.reset();
                            sf.reset();
                        }
                    }
                });
                var sp = xmSelect.render({
                    el: '#out_shop_id',
                    name: 'out_shop_id',
                    radio: true,
                    size: 'small',
                    clickClose: true,
                    filterable: true,
                    remoteSearch: true,
                    remoteMethod: (val, cb, show) => os.ajax('api/shop/getshopbymch', { key: val, out_sub_mch_id: mp.getValue('valueStr') }, (res) => cb(res)),
                    on: (e) => {
                        if (e.arr.length) {
                            os.ajax('api/shop/getstaffbyshop', { out_sub_mch_id: mp.getValue('valueStr'), out_shop_id: e.arr[0].value }, (res) => sf.update({ data: res }));
                        }
                        else {
                            sf.reset();
                        }
                    }
                });
                var sf = xmSelect.render({
                    el: '#staff_id',
                    name: 'staff_id',
                    radio: true,
                    size: 'small',
                    clickClose: true,
                    filterable: true,
                    remoteSearch: true,
                    remoteMethod: (val, cb, show) => os.ajax('api/shop/getstaffbyshop', { key: val, out_sub_mch_id: pp.getValue('valueStr'), out_shop_id: sp.getValue('valueStr') }, (res) => cb(res)),
                });
                xmSelect.render({
                    el: '#trade_type',
                    radio: true,
                    size: 'small',
                    name: 'trade_type',
                    data: $('#trade_type').data('json'),
                });
                xmSelect.render({
                    el: '#status',
                    radio: true,
                    size: 'small',
                    name: 'status',
                    data: $('#status').data('json'),
                });
                table.render({
                    elem: '#tablist',
                    method: 'post',
                    contentType: 'application/json',
                    headers: os.getToken(),
                    request: {
                        pageName: 'page_num',
                        limitName: 'page_size'
                    },
                    url: '/api/sync/refund',
                    cols: [
                        [
                            { field: 'sub_pay_platform', title: '支付渠道', width: 120 },
                            { field: 'out_trade_no', title: '交易单号', width: 260 },
                            { field: 'out_refund_no', title: '退款单号', width: 260 },
                            { field: 'shop_name', title: '门店名称' },
                            { title: '订单金额', templet: (d) => d.total_fee.tc(), width: 150, align: 'right' },
                            { title: '退款金额', templet: (d) => d.refund_fee.tc(), width: 150, align: 'right' },
                            { field: 'record_refund_state', title: '退款状态', width: 120, align: 'center' },
                            { align: 'center', title: '退款时间', width: 160, templet: (d) => layui.util.toDateString(d.last_update_time, 'yyyy-MM-dd HH:mm:ss') },
                            { field: 'device_id', title: '设备号', width: 200 },
                            { field: 'staff_name', title: '店员名', width: 120, align: 'center' },
                            { title: '操作', align: 'center', templet: '#tool', width: 100 }
                        ]
                    ],
                    where: data(),
                    page: true,
                    id: 'tables'
                });
                dt.render({
                    elem: '#trade_date',
                    type: 'datetime',
                    range: '~',
                    done: (text) => {
                        var dd = text.split('~');
                        $('input[name=start_time]').val(dd[0]);
                        $('input[name=end_time]').val(dd[1]);
                    }
                });
                $('#searchform').on('submit', () => {
                    table.reload('tables',
                        {
                            page: {
                                curr: 1
                            },
                            where: data()
                        });
                    return false;
                });
                $('#export').on('click', () => {
                    l.open({ title: '退款数据导出', area: ['720px', '480px'], content: '/api/sync/refundexport/?q=' + encodeURI(JSON.stringify(data())), type: 2 });
                });
                table.on('tool(tool)', function (obj) {
                    tpl(details.innerHTML).render(obj.data, (html) => l.open({ title: '退款单详情', area: ['720px', '480px'], content: html }));
                });
                function data() {
                    var _data = $('#searchform').serializeArray().js();
                    _data['sub_pay_platforms'] = pp.getValue('value');
                    return _data;
                }
            });
    </script>
}