@page
<div id="container" data-outshopid="@Request.Query["id"]" style="padding: 0 10px">
    <table class="layui-hide" id="tablist" lay-filter="tool" style="margin:0"></table>
</div>
@section scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'jquery', 'common'],
            function () {
                var table = layui.table,
                    $ = layui.jquery,
                    os = layui.common;
                table.render({
                    elem: '#tablist',
                    headers: os.getToken(),
                    url: '/api/shop/device?key=' + $('#container').data('outshopid'),
                    cols: [
                        [
                            { field: 'out_sub_mch_id', title: '商户编号', width: 200 },
                            { field: 'out_shop_id', title: '店铺编号', width: 200 },
                            { field: 'device_id', title: '设备编号', width: 200 },
                            { field: 'device_name', title: '设备名称', width: 150 },
                            { field: 'device_shift_type', title: '设备类型', width: 120 },
                            { field: 'remark', title: '备注信息' }
                        ]
                    ],
                    page: true,
                    id: 'tables'
                });
            });
    </script>
}