@page
@using FytSoa.Extensions
@using FytSoa.Service.DtoModel.Wx
@inject FytSoa.Service.Interfaces.Cms.ICmsMerchantService ms
@inject FytSoa.Service.Interfaces.ISysAdminService adminservice
@inject FytSoa.Service.Interfaces.ICmsShopService shopService
@{
    ViewBag.Title = "门店日报表";
    var isSys = await HttpContext.IsSystem();
    var admin_guid = await HttpContext.LoginUserId();
    var admin = await adminservice.GetModelAsync(p => p.Guid == admin_guid);
    var ms_list = (await ms.GetListAsync(p => (isSys || p.admin_guid == admin_guid || p.admin_guid == admin.data.CreateBy) && p.status, p => p.id, Common.DbOrderEnum.Asc)).data;
    var def_date = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd");
}
@section styles{
    <style>
        .layui-form-label { width: 100px; }
        .layui-form-item { margin-bottom: 8px; }
        .layui-input-block { margin-left: 0px; width: 200px; float: left; }
        .layui-layer-btn { padding: 0 35px 65px !important; }
        .width-130 {width:130px;}
    </style>
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <form autocomplete="off" id="searchform">
                <div>
                    <span class="layui-inline">　　商户：</span>
                    <div class="layui-inline">
                        <div id="out_sub_mch_id" style="width:250px" data-json='@Html.Raw(Json.Serialize(ms_list.Select(p=>new { name = p.name, value = p.out_sub_mch_id })))'></div>
                    </div>
                    <span class="layui-inline">门店：</span>
                    <div class="layui-inline">
                        <div type="text" id="out_shop_id" style="width:200px"></div>
                    </div>
                    <span class="layui-inline">支付渠道：</span>
                    <div class="layui-inline">
                        <div id="pay_platform" style="width:200px" data-json='@Html.Raw(Json.Serialize(typeof(SubPayPlatform).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                </div>
                <div style="margin:10px 0 0;">
                    <span class="layui-inline">交易日期：</span>
                    <div class="layui-inline">
                        <input type="text" id="start_time" name="start_time" value="@def_date" autocomplete="off" class="layui-input">
                    </div>
                    <span class="layui-inline"> - </span>
                    <div class="layui-inline" style="margin-right:15px;">
                        <input type="text" id="end_time" name="end_time" value="@def_date" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i> 搜索</button>
                        <button type="button" id="export" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-export"></i> 导出</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
</div>
@section scripts{
    <script src="~/themes/js/xm-select.js" asp-append-version="true"></script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'jquery', 'common', 'laydate', 'laytpl', 'layer'],
            function () {
                var table = layui.table,
                    $ = layui.jquery,
                    dt = layui.laydate,
                    tpl = layui.laytpl,
                    l = layui.layer,
                    os = layui.common;
                var pp = xmSelect.render({
                    el: '#pay_platform',
                    size: 'small',
                    name: 'sub_pay_platforms',
                    data: $('#pay_platform').data('json'),
                });
                var mp_data = $('#out_sub_mch_id').data('json');
                if (mp_data.length) {
                    mp_data[0].selected = true;
                }
                var mp = xmSelect.render({
                    el: '#out_sub_mch_id',
                    name: 'out_sub_mch_id',
                    radio: true,
                    clickClose: true,
                    size: 'small',
                    layVerify: 'required',
                    data: mp_data,
                    on: (e) => {
                        if (e.arr.length) {
                            var out_sub_mch_id = e.arr[0].value;
                            os.ajax('api/shop/getshopbymch', { out_sub_mch_id: out_sub_mch_id }, (res) => { sp.update({ data: res }); });
                        }
                        else {
                            sp.reset();
                        }
                    }
                });
                var sp = xmSelect.render({
                    el: '#out_shop_id',
                    name: 'out_shop_id',
                    radio: true,
                    size: 'small',
                    clickClose: true,
                    filterable: true,
                    remoteSearch: true,
                    remoteMethod: (val, cb, show) => os.ajax('api/shop/getshopbymch', { key: val, out_sub_mch_id: mp.getValue('valueStr') }, (res) => cb(res)),
                });
                table.render({
                    elem: '#tablist',
                    method: 'post',
                    contentType: 'application/json',
                    headers: os.getToken(),
                    request: {
                        pageName: 'page_num',
                        limitName: 'page_size'
                    },
                    url: '/api/sync/dailyreport',
                    cols: [
                        [
                            { align: 'business_date', title: '日期', width: 105, align: 'center', templet: (d) => layui.util.toDateString(d.time_end, 'yyyy-MM-dd') },
                            { field: 'shop_name', title: '门店名称', width: 200 },
                            { field: 'erp_org', title: 'ERP机构', width: 85, align: 'center' },
                            { field: 'count_trade', title: '交易笔数', width: 85, align: 'right' },
                            { title: '交易金额', templet: (d) => d.total_trade_fee.tc(), width: 110, align: 'right' },
                            { field: 'count_refund', title: '退款笔数', width: 85, align: 'right' },
                            { title: '退款金额', templet: (d) => d.total_refund_fee.tc(), width: 110, align: 'right' },
                            { title: '应收金额', templet: (d) => d.receivable_fee.tc(), width: 110, align: 'right' },
                            { title: '优惠金额', templet: (d) => d.discount_fee.tc(), width: 110, align: 'right' },
                            { title: '手续费', templet: (d) => d.poundage_fee.tc(), width: 110, align: 'right' },
                            { title: '结算金额', templet: (d) => d.settlement_fee.tc(), width: 110, align: 'right' },
                        ]
                    ],
                    where: data(),
                    page: true,
                    id: 'tables'
                });
                dt.render({ elem: '#start_time', type: 'date', max: '@def_date' });
                dt.render({ elem: '#end_time', type: 'date', max: '@def_date' });
                $('#searchform').on('submit', () => {
                    table.reload('tables',
                        {
                            page: {
                                curr: 1
                            },
                            where: data()
                        });
                    return false;
                });
                $('#export').on('click', () => {
                    l.open({ title: '订单数据导出', area: ['720px', '480px'], content: '/api/sync/dailyreportexport/?q=' + encodeURI(JSON.stringify(data())), type: 2 });
                });
                function data() {
                    var _data = $('#searchform').serializeArray().js();
                    _data['sub_pay_platforms'] = pp.getValue('value');
                    return _data;
                }
            });
    </script>
}